doctype html
html(lang="ru")
	block vars 


	include ../modules/_head.pug 


	body 
		include ../modules/_main-header.pug
		include ../modules/_mobile-nav.pug
		block content 
		include ../modules/_contacts.pug
		include ../modules/_main-footer.pug
		script(src="./js/main.min.js")