html {
	//--- Typography
	font-family: $mainFont;
	color: $black;
	font-size: 4.75vw;

	//--- Visual
	background-color: $white;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.button {
	//--- Box model
	border: none;
	background-color: none;
}

.mobile-only {
	@include atDesktopU {
		//--- Box model
		display: none !important;
	}
}

.desktop-only {
	//--- Box model
	display: none !important;

	@include atDesktopU {
		//--- Box model
		display: initial !important;
	}
}