//--- COLORS
$white:         #f1f1f1;
$black:         #1a1a1a;
$lightGray:     #e1e1e1;  

//--- FONTS
$mainFont: 'Unbounded', cursive;
$titleFont: 'Press Start 2P', cursive;

	//--- Positioning
	//--- Box model
	//--- Typography
	//--- Visual
	//--- Misc