.about {
	// Box model
	padding-inline: $defaultPadding;
	margin-bottom: $defaultMargin;
}

.about__title {
	// Box model
	margin-bottom: 0.5rem;
}

.about__content {
	// Box model
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	img {
		// Box model
		width: 100vw;
		border-radius: 0.4rem;
	}
}

.about__text-container {
	// Box model
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
}

.about__text-container p {
	// Typography
	font-size: 0.7em;
}

.about__text2 {
	// Typography
	text-align: right;
}

