.main-header {
	// Positioning
	position: sticky;

	// Box model
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $defaultPadding;
	margin-bottom: $defaultMargin;

	// Visual
	background-color: #ececec;
}

.main-header__logo {
	// Box model
	display: flex;
	flex-direction: column;
}

.main-header__logo .logo {
	// Box model
	padding-top: 0.2rem; // empty space under font compensation


	// Typography
	font-family: $titleFont;
	color: $black;
	font-size: 1.3rem;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
}

.main-header__title {
	// Typography
	font-size: 0.4rem;
}

.main-header__buttons {
	// Box model
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 0.5rem;
}

.button__light-theme,
.button__dark-theme,
.button__hamburger {
	// Positioning
	position: relative;

	// Box model
	border: none;
	border-radius: 50%;
	padding: 1rem;

	// Visual
	background-color: $lightGray;
	color: $black;
}

.button__dark-theme::before {
	// Positioning
	position: absolute;
	top: calc(50% - 0.38rem);
	right: calc(50% - 0.3rem);

	// Box model
	display: inline-block;

	// Typography
	font: var(--fa-font-solid);
	font-size: 0.8rem;

	// Visual
	content: "\f186";
	cursor: pointer;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.button__light-theme::before {
	// Positioning
	position: absolute;
	top: calc(50% - 0.4rem);
	right: calc(50% - 0.4rem);

	// Box model
	display: inline-block;

	// Typography
	font: var(--fa-font-solid);
	font-size: 0.8rem;

	// Visual
	content: "\f185";
	cursor: pointer;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.button__hamburger::before {
	// Positioning
	position: absolute;
	top: calc(50% - 0.4rem);
	right: calc(50% - 0.36rem);

	// Box model
	display: inline-block;

	// Typography
	font: var(--fa-font-solid);
	font-size: 0.8rem;

	// Visual
	content: "\f0c9";
	cursor: pointer;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.active-button {
	// Visual
	background-color: $black;
	color: $white;
}