doctype html
html(lang="ru")
	head
		include ./modules/_head.pug

		title Главная:


	body
		include ./modules/_main-header.pug
		include ./modules/_mobile-nav.pug


		include ./modules/_main-footer.pug

	script(src="../js/main.min.js") 


