//--- index.pug => index.html
extends ./layouts/layout.pug


block vars 
  - var title = `Главная`;
  - var description = `Сайт музея компьютерных игр Bitipixel`;


block content
  include ./modules/_hero-desktop.pug
  include ./modules/_about.pug
  include ./modules/_gallery.pug