section.about#about
	//- .about__text1 Единственная в Калининградской области коллекция ретро консолей.
	h1.about__title.title-left Открывает двери
	.about__content
		img(src="./images/gallery/gallery-image3.jpeg", alt="На фото посетитель играет в приставку").about__image
		.about__text-container
			p.
				<b>В музее</b> представлена потрясающая коллекция ретро игровых приставок и винтажных компьютеров. 
				
			p.about__text2
				<b>Главная особенность</b> музея — все консоли в рабочем состоянии! Абсолютно во все можно поиграть!