section.contacts#contacts
  h2.contacts__title.title-left Приходите к нам
  .contacts__content
    img(src="./images/contacts/map3.jpg", alt="Карта, которая показывает как пройти в музей", width="300", height="400").contacts__image
  
    ul.contacts__list 
      li.contacts__item
        h3 Адрес:
        p: a(href="https://www.google.com/maps/place/%D0%9C%D1%83%D0%B7%D0%B5%D0%B9+%D0%BA%D0%BE%D0%BC%D0%BF%D1%8C%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D1%8B%D1%85+%D0%B8%D0%B3%D1%80+BIT'%D0%B8'PIXEL/@54.7054798,20.5435743,18.82z/data=!4m5!3m4!1s0x46e33d9425055555:0x6fe13cfa3daaf96d!8m2!3d54.705657!4d20.5445351?coh=164777&entry=tt") ул. Ялтинская, 2оП Калининград
      li.contacts__item
        h3 Часы работы:
        p Пятница — воскресенье: 12:00–22:00
      li.contacts__item
        h3 Билеты:
        p 300 руб. с человека Приобретаются на месте