section.gallery
	h2.gallery__title.title-right!= `галлереЯ`
	.gallery__switcher
		ul.previews-list
			li.preview-item: img(src="../images/gallery/gallery-image1.jpeg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image2.jpeg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image3.jpeg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image4.jpg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image5.jpg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image6.jpg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image7.jpg", alt="")
			li.preview-item: img(src="../images/gallery/gallery-image8.jpg", alt="")
			li.preview-item.active-preview: img(src="../images/gallery/gallery-image9.jpg", alt="")
		img(src="../images/gallery/gallery-image9.jpg", alt="На фото изображен парусник", width="375", height="auto").gallery__active-photo