section.hero-desktop.desktop-only
  .hero__container
    p.hero-desktop__title музей <br> компьютерных <br> <i>игр</i>
    video(src="./images/hero-video.webm", width="100%", height="auto", autoplay, loop, muted).hero__video