section.hero-desktop
	video.desktop-only(src="../../images/hero-video.webm", width="100%", height="auto", autoplay, loop, muted).hero__video
	p.hero-desktop__title.desktop-only музей <br> компьютерных <br> игр