footer.main-footer
	ul.main-footer__socials-list
		li.main-footer__socials-item: a.instagram(href="#")
		li.main-footer__socials-item: a.vkontakte(href="#")
		li.main-footer__socials-item: a.youtube(href="#")