header.main-header
	.main-header__logo
		a.logo(href="index.html") bitipixel
		.main-header__title Единственная в Калининградской области коллекция ретро консолей.
	.main-header__buttons
		button.button__light-theme.active-button
		button.button__dark-theme
		button.button__hamburger
