footer.main-footer#main-footer
  ul.main-footer__socials-list
    li.main-footer__socials-item: a.instagram(href="https://www.instagram.com/bitipixel/")
    li.main-footer__socials-item: a.vkontakte(href="https://vk.com/bitipixel39")
    li.main-footer__socials-item: a.youtube(href="https://www.youtube.com/channel/UCPLW5SdYEU3WHhQnYM9CYZg")