section.mobile-nav
	ul.mobile-nav__list
		li.mobile-nav__item: a(href="#") главная
		li.mobile-nav__item: a(href="#") о нас
		li.mobile-nav__item: a(href="#") коллекция
		li.mobile-nav__item: a(href="#main-footer") социальные сети